<configuration packagingData="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>
                %-45(%d{HH:mm:ss.SSS} %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
            <!--            <pattern>-->
            <!--                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n-->
            <!--            </pattern>-->
        </encoder>
    </appender>
    <appender name="FILE-INFO" class="ch.qos.logback.core.FileAppender">
        <file>logs/latest-info.log </file>
        <append>false</append>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE-DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>logs/latest-debug.log </file>
        <append>false</append>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE-TRACE" class="ch.qos.logback.core.FileAppender">
        <file>logs/latest-trace.log </file>
        <append>false</append>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
    <timestamp key="startTime" datePattern="yyyy-MM-dd_HH-mm-ss" timeReference="contextBirth"/>
    <appender name="FILE-DATE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log_${startTime}.log</file>
        <append>false</append>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE-DATE-TRACE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log_${startTime}.log</file>
        <append>false</append>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
   <!--
   <appender name="FILE-DATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.home}/.nestctrl/logs/log_.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>
                %-55(%d{HH:mm:ss.SSS} [%thread] %-20(.\(%F:%L\))) %-5level - %msg %n
            </pattern>
        </encoder>
    </appender>
    -->


    <appender name="ASYNC-STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC-FILE-INFO" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-INFO" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <appender name="ASYNC-FILE-DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-DEBUG" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <appender name="ASYNC-FILE-TRACE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-TRACE" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <appender name="ASYNC-FILE-DATE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-DATE" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>
    <appender name="ASYNC-FILE-DATE-TRACE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-DATE-TRACE" />
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>

        <includeCallerData>true</includeCallerData>
        <discardingThreshold>0</discardingThreshold>
    </appender>


    <root level="TRACE">
        <appender-ref ref="ASYNC-STDOUT"/>
        <appender-ref ref="ASYNC-FILE-DATE"/>
        <appender-ref ref="ASYNC-FILE-DEBUG"/>
        <appender-ref ref="ASYNC-FILE-TRACE"/>
        <appender-ref ref="ASYNC-FILE-DATE-TRACE"/>
        <appender-ref ref="ASYNC-FILE-INFO"/>
    </root>
</configuration>